{$AMS_SITE_ADDRESS:http://localhost:8088} {
    encode zstd gzip
    reverse_proxy app:80
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }
}
